<div class="container">
  <nav class="text-center">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Primeiro">
          <span aria-hidden="true">1</span>
        </a>
      </li>

      <li>
        <a href="#" aria-label="segundo">
          <span aria-hidden="true">2</span>
        </a>
      </li>
    </ul>
    <p>
      Total de registros: <strong>{{ qtdPorPagina }}</strong
      >, pág. <strong>{{ paginaAtual }}</strong> de <strong>{{ totalRegistros }}</strong
      >.
    </p>
  </nav>
</div>
