<div class="container">
  <div class="container__title">
    <svg>
      <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-person"></use>
    </svg>
    <p>
      Olá Administrador, você está vendo o painel de Administrador, selecione uma opção
      para prosseguir!
    </p>
  </div>
  <div class="container__btn">
    <button routerLink="categories">
      <p>Ver todas Categorias</p>
      <svg>
        <use
          xlink:href="\assets\images\products\icons-svg\icons.svg#icon-price-tag"></use>
      </svg>
    </button>

    <button routerLink="products">
      <p>Ver todos Produtos</p>
      <svg>
        <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-gift"></use>
      </svg>
    </button>
  </div>
</div>
