.container {
    margin-top: 13rem;
    margin-left: 40rem;
    margin-bottom: 8rem;
    width: 80rem;
    height: 58rem;

    border-radius: 0.8rem;
    box-shadow: 0rem 0.25rem 0.8rem rgba(0, 0, 0, 0.25);


    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;


        svg {
            width: 3rem;
            height: 3rem;
            fill: var(--primary-color);
        }

        h1 {
            font-family: Roboto;
            font-size: 3rem;
            font-style: normal;
            font-weight: 400;
            color: var(--primary-color);
        }
    }

    &__form {
        display: flex;
        justify-content: space-around;
        padding: 3rem;
        gap: 5rem;

        label {
            color: var(--matheus-shop-sys-light-outline, #757680);
            font-size: 1.6rem;
            font-weight: 700;
            line-height: 3.2rem;
        }

        input {
            width: 31.9rem;
            height: 3.8rem;
            border-radius: 0.8rem;
            border: 0.063rem solid var(--primary-color);
            background-color: var(--white);
            padding-left: 1rem;
        }


        &--left {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        &--right {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

    }

    button {
        margin-top: 2rem;
        margin-left: 29rem;


        width: 22rem;
        height: 3.8rem;

        border: none;
        border-radius: 0.5rem;
        background-color: var(--primary-color);
        color: var(--white);
    }
}