<div class="container">
  <nav class="container__sidenav">
    <ul>
      <li>
        <!-- <button class="btn books"> -->
        <svg>
          <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-books"></use>
        </svg>
        <p>Books</p>
        <svg>
          <use
            xlink:href="\assets\images\products\icons-svg\icons.svg#icon-keyboard_arrow_down"></use>
        </svg>
        <!-- </button> -->
      </li>
      <li>
        <!-- <button class="btn mugs"> -->
        <svg>
          <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-coffee"></use>
        </svg>
        <p>Coffee Mugs</p>
        <svg>
          <use
            xlink:href="\assets\images\products\icons-svg\icons.svg#icon-keyboard_arrow_up"></use>
        </svg>
        <!-- </button> -->
      </li>
      <li>
        <!-- <button class="btn mouse"> -->
        <svg>
          <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-mouse"></use>
        </svg>
        <p>Mouse Pad</p>
        <!-- <svg class="icon icon-keyboard_arrow_up">
          <use
            xlink:href="\assets\images\products\icons\icons.svg#icon-keyboard_arrow_up">
          </use>
        </svg> -->
        <!-- </button> -->
      </li>
      <li>
        <!-- <button class="btn tags"> -->
        <svg>
          <use
            xlink:href="\assets\images\products\icons-svg\icons.svg#icon-luggage"></use>
        </svg>
        <p>Luggage Tags</p>
        <svg>
          <use
            xlink:href="\assets\images\products\icons-svg\icons.svg#icon-keyboard_arrow_up"></use>
        </svg>
        <!-- </button> -->
      </li>
      <!-- <button class="btn"> -->
      <li routerLink="adm">
        <svg>
          <use xlink:href="\assets\images\products\icons-svg\icons.svg#icon-person"></use>
        </svg>
        <p>Administrador</p>
      </li>
      <!-- </button> -->
    </ul>
  </nav>
</div>
