.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 0.5rem;
    margin-bottom: 0.2rem;

    svg {
        width: 2rem;
        height: 2rem;

        fill: var(--primary-color);
    }

    h1 {
        font-size: 2rem;
        font-weight: 400;
        line-height: 52px;

        color: var(--primary-color);
    }
}

form {
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);

    font-family: Roboto;

    width: 35rem;
    height: 40rem;

    margin-top: 5rem;
    margin-left: 60rem;
    padding: 1rem;
    gap: 0.5rem;

    label {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.2rem;
        color: var(--grey-dark-color-3);
    }

    input {
        width: 33rem;
        height: 3.8rem;

        border-radius: 8px;
        border: 1px solid var(--primary-color);

        padding-left: 1rem;
    }

    p {
        text-align: center;
        line-height: 3.2rem;

        font-size: 1.6rem;
        font-weight: 700;

        color: var(--grey-dark-color-3);
    }

    button {
        margin-left: 3.6rem;

        width: 25rem;
        height: 4.0rem;

        border-radius: 8px;
        border: 1px;

        background-color: var(--blue-dark-color-1);
        color: var(--text-color);
    }
}